.selectCategory {
  border-right: 2px solid var(--color-grey-secundary);
  min-width: 166px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selectCategory .category {
  padding: 17px;
  color: #7A7A7A;
  font-weight: bold;
  font-size: 14px;
  transition: none;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  border-left: 4px solid transparent;
  border-top: 1px solid var(--color-grey-secundary);
  border-bottom: 1px solid var(--color-grey-secundary);
  cursor: pointer;
}

.selectCategory[data-current-category="Software"] > .category[data-value="Software"] {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.selectCategory[data-current-category="Hardware"] > .category[data-value="Hardware"] {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.category:hover {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.selectProduct {
  display: flex;
  flex-wrap: wrap;
}

.selectProduct a {
  min-width: 140px;
  min-height: 176px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease;
}

.selectProduct a:hover {
  transform: scale(1.1);
}

.selectProduct a > .headerProductItem {
  position: relative;
  color: white
}

.headerProductItem img {
  margin: 0px;
  min-width: 64px;
  min-height: 64px;
  max-width: 200px;
  filter: invert(1);
}

.containerBodyAndFooterProduct {
  display: flex;
  flex-direction: column;
  gap: 5px;
  --padding-left: 13px;
  font-size: 12px;
  font-weight: bold;
}

.bodyProductItem {
  padding-left: var(--padding-left);
  position: relative;
}

.bodyProductItem::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-blue-secundary);
}

.footerProductItem {
  padding-left: var(--padding-left);
  color: #7A7A7A;
}

.footerProductItem {
  max-width: 200px;
}