/* seccion encabezado */
.encabezado-frace-2{
    background-color: var(--color-grey-primario);
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 70px;
    align-items: flex-start;
    width: -webkit-fill-available;
}

.encabezado-frace-2 p{
    font-size: 50px;
    font-weight: 300;
    font-stretch: ultra-expanded;
    initial-letter: 10px !important;
}
.encabezado-frace-2 p.sub{
    font-size: 20px;
    font-weight: 300;
    font-stretch: ultra-expanded;
    initial-letter: 10px;
}

/* seccion de productos */
.productos-sec{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productos-sec div{
    margin: 15px 10px;
    cursor: pointer;
}

.productos-sec p{
    color: black;
    font-size: 15px;
    text-align: start;
    font-weight: 300;
    margin-top: 10px;
}


/* @media Celular */
@media only screen and (max-width: 425px) {

}

/* @media Celular */
@media only screen and (max-width: 600px) {
    .productos-sec div img{
        width: 254px;
        height: 177px;
    }

}

/* @media Tablet */
@media only screen and (max-width: 768px) {

 .encabezado-frace-2{
        background-position: center;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .encabezado-frace-2 p{
        font-size: 30px;
        font-weight: 300;
        font-stretch: ultra-expanded;
        initial-letter: 10px !important;
    }
    .encabezado-frace-2 p.sub{
        font-size: 13px;
        font-weight: 300;
        font-stretch: ultra-expanded;
        initial-letter: 10px;
    }
   
    
}

/* @media Laptop */
@media only screen and (max-width: 1024px) {

}

/* @media Computador */
@media only screen and (max-width: 1440px) {


}
