.seccion-encabezado-LDM {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 85px 200px;
  background-image: url(../../../../public/img/banner-tgate.png) !important;
  background-color: var(--color-grey-primario);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
