.selectCategory {
  border-right: 2px solid var(--color-grey-secundary);
  min-width: 166px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selectCategory .category {
  padding: 17px;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 14px;
  transition: none;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  border-left: 4px solid transparent;
  border-top: 1px solid var(--color-grey-secundary);
  border-bottom: 1px solid var(--color-grey-secundary);
  cursor: pointer;
}

.selectCategory[data-current-category="Software"] > .category[data-value="Software"] {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.selectCategory[data-current-category="Hardware"] > .category[data-value="Hardware"] {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.category:hover {
  border-left-color: var(--color-blue-secundary);
  background-color: var(--color-grey-secundary);
  color: black;
}

.selectProduct {
  display: flex;
  flex-wrap: wrap;
}

.selectProduct a {
  min-width: 140px;
  min-height: 176px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease;
}

.selectProduct a:hover {
  transform: scale(1.1);
}

.selectProduct a > .headerProductItem {
  position: relative;
  color: white;
}

.headerProductItem img {
  margin: 0px;
  margin-bottom: 15px;
  min-width: 64px;
  min-height: 64px;
  max-width: 200px;
  filter: invert(1);
}

.containerBodyAndFooterProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
  --padding-left: 13px;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: stretch;
}

.bodyProductItem {
  padding-left: var(--padding-left);
  position: relative;
}

.bodyProductItem::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-blue-secundary);
}

.footerProductItem {
  padding-left: var(--padding-left);
  color: #7a7a7a;
}

.footerProductItem {
  max-width: 200px;
}

.accordion .accordion-toggle {
  background: none;
  border: none;
  color: var(--color-white-primario);
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.accordion-content {
  display: none;
  flex-direction: column;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.accordion-content a {
  animation: appearAnchor 0.5s ease forwards;
}

@keyframes appearAnchor {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion.open .accordion-content {
  display: flex;
  animation: appearContent 0.8s ease forwards;
}

@keyframes appearContent {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: 2000px;
  }
}

.accordion.open .accordion-toggle svg {
  rotate: 90deg;
}

.accordion .productListItem a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5em 0;
  display: block;
}

.accordion .productListItem a:hover {
  color: var(--color-blue-secundary);
}

.navModal ul li {
  width: max-content;
}

.categoryList[data-product="Software"] button[title="Software"] {
  background-color: var(--color-blue-500);
}

.categoryList[data-product="Hardware"] button[title="Hardware"] {
  background-color: var(--color-blue-500);
}

.accordion .categoryList {
  display: none;
}

.accordion.open .categoryList {
  display: inherit;
}