.btnSection {
  background: linear-gradient(135deg, var(--color-gray-950) 0%, var(--color-gray-500) 75%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition-property: color, transform, background-image, border, background-position !important;
  transition-timing-function: linear !important;
  transition-duration: 0.5s !important;
  border: 1px solid transparent;
}

.btnSection[data-active="true"] {
  background-position: 0% 50%;
  border-color: black;
}

@keyframes aniBg {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}