@property --porcentaje {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: false;
}

.btnSection {
  background-image: linear-gradient(135deg, var(--color-gray-950), var(--color-gray-300) var(--porcentaje));
  transition-property: color, transform, background-image, border !important;
  transition-timing-function: ease !important;
  transition-duration: 0.3s !important;
  transition-behavior: allow-discrete !important;
}

.btnSection[data-active="true"] {
  --porcentaje: 100%;
}