.editable-table-container {
  width: 100%;
  overflow-x: auto;
  padding: 12px;
  background-color: white;
  border-radius: 16px;
  filter: drop-shadow(var(--drop-shadow-xl));
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--color-gray-200);
}

.editable-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.editable-table th,
.editable-table td {
  border: 1px solid #d1d5db;
  padding: 8px 12px;
  text-align: left;
}

.editable-table-header {
  width: 100%;
  font-weight: bold;
  border: none;
  background: #e5e7eb;
  padding: 6px;
  border-radius: 4px;
}

.editable-table-cell {
  width: 100%;
  border: none;
  background: #f3f4f6;
  padding: 6px;
  border-radius: 4px;
  animation: appearCell 1s ease forwards;
}

.editable-table input:focus {
  outline: 2px solid #2563eb;
  background: #fff;
}


@keyframes appearCell {
  0% {
    opacity: 0;
    transform: translateY(-50px) scaleY(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}

.btnPag {
  transition-property: transform, background-color, color !important;
}